<ion-header>
  <ion-toolbar class="ion-margin-top">
    <app-search-input (value)="setupSearch($event)" />
  </ion-toolbar>
</ion-header>
<ion-content>
  @if(errorMessage()){
  <app-error
    [errorMessage]="errorMessage()"
    (retry)="setupSearch(searchValue())"
  />
  } @else if(isLoading()){
  <app-loading />
  } @else {

  <section
    class="ion-display-flex ion-flex-column ion-justify-content-center ion-min-height-100 full-min-height"
  >
    @if(this.searchValue()){ @if(tvShowsFirstRow().length>0){

    <app-slide-show [tvShows]="tvShowsFirstRow()" />
    <app-slide-show [tvShows]="tvShowsSecondRow()" />
    } @else{
    <app-without-results />
    } }
  </section>
  }
</ion-content>
