<ion-header>
  <ion-toolbar class="ion-margin-top">
    <ion-buttons slot="start">
      <ion-button id="open-action-sheet-gender" fill="solid" expand="block">
        @if(selectedGender()){ {{selectedGender()}} }@else { Filter by gender }
        <ion-icon class="ion-padding-start" name="filter-outline" />
      </ion-button>
      <ion-action-sheet
        trigger="open-action-sheet-gender"
        header="Genders"
        [buttons]="genderActionSheetButtons"
      />
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" id="open-action-sheet-rating" expand="block">
        @if(selectedRating()){ {{selectedRating()}} }@else { Filter by rating }
        <ion-icon class="ion-padding-start" name="filter-outline"></ion-icon>
      </ion-button>
      <ion-action-sheet
        trigger="open-action-sheet-rating"
        header="Ratings"
        [buttons]="ratingActionSheetButtons"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(errorMessage()){
  <app-error [errorMessage]="errorMessage()" (retry)="loadTvShows()" />
  } @else if(isLoading()){
  <app-loading />
  } @else {

  <app-refresh (refresh)="loadTvShows($event)" />

  <section
    class="ion-display-flex ion-flex-column ion-justify-content-center ion-min-height-100 full-min-height"
  >
    @if(tvShowsFirstRow().length > 0 || tvShowsSecondRow().length>0){

    <ion-item>
      <h4>List of television programmes</h4>
    </ion-item>
    <app-slide-show [tvShows]="tvShowsFirstRow()" />
    <app-slide-show [tvShows]="tvShowsSecondRow()" />
    }@else {
    <app-without-results message="Try selecting another value." />
    }
  </section>
  }
</ion-content>
