<ion-content>
  @if(errorMessage()){
  <app-error [errorMessage]="errorMessage()" (retry)="loadTvShows()" />
  } @else if(isLoading()){
  <app-loading />
  } @else {

  <!-- <app-refresh [isLoading]="isLoading()" (refresh)="loadTvShows()" /> -->
  <section
    class="ion-display-flex ion-flex-column ion-justify-content-center ion-min-height-100 full-min-height"
  >
    <ion-item>
      <h4>List of television programmes</h4>
    </ion-item>
    <app-slide-show [tvShows]="tvShowsFirstRow()" />
    <app-slide-show [tvShows]="tvShowsSecondRow()" />
  </section>
  }
</ion-content>
